:root{
    --border3: #eca113;
    --border2: #4d6af4;
    --border1: #db3452;
    --bg: #182343;
    --white: #e6e6e6;
    --font: #535167;
}

body {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--bg);

}

.container {
   width: 850px;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.statistic {
    border: 2px solid var(--white);
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
}

.statistic .title {
    color: var(--white);

}

.statistic #winner {
    max-width: 380px;
    color: aquamarine;
    text-align: center;
    font-size: 38px;

}

.statistic .right-score {
   width: 150px;
   height: 120px;
   background-color: var(--white);
   color: var(--font);
   font-size: 24px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.right-score p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#result {
    font-size: 25px;
    color: rgb(200, 255, 0);
    font-weight: bold;
    text-align: center;
}

.images {
    margin: 20px;
    display: flex;
     -webkit-user-select: none;
     /* Safari */
     -ms-user-select: none;
     /* IE 10 and IE 11 */
     user-select: none;
     /* Standard syntax */
}

.img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 20px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.img-rock {
    border-color: var(--border1);
}

.img-paper {
    border-color: var(--border2);
}

.img-scissors {
    border-color: var(--border3);
}

img {
    height: 60px;
    width: auto;
}


.img:hover {
  transform: rotate(60deg) scale(1.05);
  cursor: pointer;
}
